<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="isCollapsed">
    <div class="logo">
      <div class="brand-box">
        <span class="brand-text">
          brain<span class="plus">+</span>spine <span class="plus">+</span>
          <span class="pain">pain</span>
        </span>
        <img src="assets/logo/logobrainspine.png" class="brand-logo" alt="logo">
        <button class="collapse-btn" (click)="toggleSidebar()">
          |< </button>
      </div>
    </div>
    <div class="horizontalLine"></div>
    <div class="sidebar-scroll">
      <nav class="nav">

        <div *ngFor="let m of menu">

          <p class="section" *ngIf="m.title =='Dashboard'">{{ m.title }}</p>

          <ul>

            <!-- Parent -->
            <li *ngIf="m.toggle" (click)="toggleMenu(m)" class="parent-menu" [class.open]="m.open">
              <span class="parent-left">
                <i class="icon"></i>
                {{ m.title }}
              </span>

              <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="6 9 12 15 18 9"></polyline>
              </svg>
            </li>

            <!-- CHILDREN: ng-container wraps the *ngIf so li only has *ngFor -->
            <ng-container *ngIf="m.open">
              <li *ngFor="let item of m.items" routerLink="{{ item.link }}" routerLinkActive="active"
                class="child-item">
                <span class="dot"></span> {{ item.label }}
              </li>
            </ng-container>



          </ul>

        </div>
      </nav>




    </div>
    <div class="footer-sidebar" style="display: none;">
      <button class="icon-btn" (click)="toggleSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-chevron-left h-4 w-4">
          <path d="m15 18-6-6 6-6"></path>
        </svg>
      </button>
    </div>

  </aside>

  <!-- Main area -->
  <div class="main">
    <!-- Navbar -->
    <header class="navbar">
      <div class="top-bar">
        <div class="mode-switch">

          <button *ngIf="Role=='Admin'" class="tab-btn" [class.active]="selectedTab === 'operational'"
            (click)="selectTab('operational')">
            Operational
          </button>

          <button *ngIf="Role=='Admin'" class="tab-btn" [class.active]="selectedTab === 'research'"
            (click)="selectTab('research')">
            Research
          </button>

        </div>

        <div class="greeting">
          Good Morning, <strong>Dr. John 👋</strong>
        </div>
      </div>



      <div class="actions">
        <input type="text" placeholder="Search..." class="search" />
        <div class="location">📍 Orlando</div>
        <div class="notif">🔔</div>

        <!-- Profile Menu (Hover to open) -->
        <div class="profile-menu">
          <div class="avatar">⚙️</div>
          <div class="dropdown">
            <button (click)="toggleTheme()">Change Theme</button>
            <button (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>