<div class="layout">
  <!-- Sidebar -->
  <aside class="sidebar" [class.collapsed]="isCollapsed">
    <div class="logo">
      <div class="brand-box">
        <span class="brand-text">
          brain<span class="plus">+</span>spine <span class="plus">+</span>
          <span class="pain">pain</span>
        </span>
        <img src="assets/logo/MainLogo.png" class="brand-logo" alt="logo">

        <!-- Toggle Button -->
        <button class="collapse-btn" (click)="toggleSidebar()">
          <span *ngIf="!isCollapsed"><svg xmlns="http://www.w3.org/2000/svg" width="18"
              height="18" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" class="arrow-left">
              <polyline points="12 3 6 9 12 15"></polyline>
            </svg>
          </span>
          <span  *ngIf="isCollapsed"><svg xmlns="http://www.w3.org/2000/svg" width="18"
              height="18" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" class="arrow-right">
              <polyline points="6 3 12 9 6 15"></polyline>
            </svg>
          </span>
        </button>
      </div>

    </div>
    <div class="horizontalLine"></div>
    <!-- MENU -->
  <div class="sidebar-scroll">
    <nav class="nav">

  <div *ngFor="let m of menu">

    <p class="section" *ngIf="m.title == 'Dashboard'">{{ m.title }}</p>

    <ul>

      <!-- Parent Menu -->
      <li *ngIf="m.toggle"
          (click)="onMenuClick(m)"
          (mouseenter)="isCollapsed && (m.open = true)"
          (mouseleave)="isCollapsed && (m.open = false)"
          class="parent-menu"
          [ngClass]="{ 'open': m.open, 'collapsed-mode': isCollapsed }">

        <span class="parent-left">
          <i class="{{ m.icon }} icon"></i>
          <span class="menu-text" *ngIf="!isCollapsed">{{ m.title }}</span>
        </span>

        <!-- Arrow only in expanded -->
        <svg *ngIf="!isCollapsed" class="arrow" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round">
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>

        <!-- FLYOUT CHILD MENU WHEN COLLAPSED -->
        <ul class="flyout-menu" *ngIf="isCollapsed  && m.open && m.items?.length">
          <li *ngFor="let item of m.items"
              routerLink="{{ item.link }}"
              routerLinkActive="active"
              class="flyout-item">
              {{ item.label }}
          </li>
        </ul>

      </li>

      <!-- Children (Expanded Mode) -->
      <ng-container *ngIf="m.open && !isCollapsed">
        <li *ngFor="let item of m.items"
            routerLink="{{ item.link }}"
            routerLinkActive="active"
            class="child-item">
          <span class="dot"></span> {{ item.label }}
        </li>
      </ng-container>

    </ul>
  </div>
</nav>


  </div>
    <div class="footer-sidebar">
      <div class="sidebar-user-section">

        <div class="user-row" (click)="toggleUserMenu()">
          <div class="avatarfooter">{{avatarText}}</div>
          <div class="user-details">
            <div class="role">{{Role}}</div>
            <div class="name">{{userName}}</div>
          </div>
          <span class="arrow" [class.open]="userMenuOpen">⌃</span>
        </div>
        <div class="user-dropdown" *ngIf="userMenuOpen">
          <button class="dropdown-item" (click)="navigateTo('userProfile')">
            <span>👤</span> Profile
          </button>

          <button class="dropdown-item logout" (click)="logout()">
            <span>🔴</span> Logout
          </button>
        </div>
      </div>

    </div>

  </aside>

  <!-- Main area -->
  <div class="main">
    <!-- Navbar -->
    <header class="navbar">
      <div class="top-bar">
        <div class="mode-switch">

          <button *ngIf="Role=='Admin'" class="tab-btn" [class.active]="selectedTab === 'operational'"
            (click)="selectTab('operational')">
            Operational
          </button>

          <button *ngIf="Role=='Admin'" class="tab-btn" [class.active]="selectedTab === 'research'"
            (click)="selectTab('research')">
            Research
          </button>

        </div>

        <div class="greeting">
          Good Morning, <strong>Dr. John 👋</strong>
        </div>
      </div>



      <div class="actions">
        <input type="text" placeholder="Search..." class="search" />
        <div class="location">📍 Orlando</div>
        <div class="notif">🔔</div>

        <!-- Profile Menu (Hover to open) -->
        <div class="profile-menu">
          <div class="avatar">⚙️</div>
          <div class="dropdown">
            <button (click)="toggleTheme()">Change Theme</button>
            <button (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>