* {padding:0; box-sizing:border-box; font-family:'Inter', sans-serif;}

.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* LEFT IMAGE */
.login-left {
  width: 50%;
  background: #eef7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.login-left img {
  width: 100%;
  height: 100%;
  max-width: 550px;
  object-fit: contain;
}

/* RIGHT SIDE */
.login-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-card {
  width: 350px;
  background: white;
}

.brand-logo {
  width: 60px;
  display: block;
  /* margin: 0 auto 10px; */
}

.brand-box {
  display: flex;
  justify-content: end;
  align-items: center;
}

.brand-text {
  font-size: 24px;
  font-weight: 500;
  color: #1d4e89; 
}

.plus {
  color:#3c6dc7; 
}

.pain {
  position: relative;
  color:#1d4e89; 
}

.pain::after {
  content: "";
  position: absolute;
  left: 0;
  top: 55%;
  width: 100%;
  height: 2px; /* red strike width = 2px */
  background: red;
  transform: translateY(-50%);
}

/* .brand-logo {
  height: 40px; 
} */


h2 {
  text-align: left;
  word-spacing: 0.5;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

p {color:#666; font-size: 13px; margin-bottom:10px;}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input, select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 10px;
  background: #1d4e89;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {opacity: .9;}

.switch {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

.switch a {color:#1d4e89; cursor:pointer; font-weight:600;}

.scroll-area {
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 8px;
}

/* Responsive */
@media (max-width: 900px) {
  .login-wrapper {flex-direction: column;}
  .login-left, .login-right {width:100%; height:50vh;}
  .login-left img {max-width:350px;}
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 12px; /* right padding for eye icon */
  border: 1.5px solid #b7c9ff;
  border-radius: 8px;
  font-size: 14px;
  transition: .2s ease-in-out;
}

.password-wrapper input:focus {
  border-color: #4d77ff;
  box-shadow: 0 0 6px rgba(77,119,255,0.3);
  outline: none;
}

/* Eye icon */
.password-wrapper i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #6c7a91;
  transition: .2s;
}

.password-wrapper i:hover {
  color: #4d77ff;
}

/* Error Banner */
.error-banner {
  font-size: 12px;
  color: #ff3b3b;
  margin-top: 5px;
  background: rgba(255,0,0,0.08);
  padding: 6px 10px;
  border-radius: 6px;
  border-left: 3px solid #ff3b3b;
}
